<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berties Books</title>
</head>
<body>
    <h1>Books We Have</h1>
    <p>Brighton Rock</p>
    <br>
    <p>Brave New World</p>
    <br>
    <br>
    <p>Animal Farm</p>
    <br>
    <br>
    <p>Wheel of Time</p>
    <br>
    <br>
    <p>Homo Sapiens</p>
</body>
</html>